{% load countries %}
{% get_countries as countries %}
<div class="modal fade"  id="editShippingAddress">
    <div class="modal-dialog" >
      <div class="modal-content w-100 px-5 py-4 ">
        <div class="modal-header">
          <h5 class="modal-title">{% if user.first_name|length > 0 or user.last_name|length > 0%} {{user.first_name}} {{user.last_name}} {% else %} {{user.email}} {% endif %} - Edit Shipping Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'update_shipping_info'%}" id="update_shipping_info_form">
              {% csrf_token %}                 
                <div class="form-group">
                  <label for="shipping_email">Email Address</label>
                  <input type="email" class="form-control" id="shipping_email" name="shipping_email" value="{% if shipping_address.email|length > 0%} {{shipping_address.email}} {% endif %}" placeholder="Email here here..">
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone" name="phone" value="{% if shipping_address.phone|length > 0%} {{shipping_address.phone}} {% endif %}" placeholder="Phone Number here here..">
                </div>
                <div class="form-group">
                  <label for="street_address">Street Address</label>
                  <input type="text" class="form-control" id="street_address" name="street_address" value="{% if shipping_address.street_address|length > 0%} {{shipping_address.street_address}} {% endif %}" placeholder="Street Address here here..">
                </div>
                <div class="form-group">
                  <label for="post_code">Postal Code</label>
                  <input type="text" class="form-control" id="post_code" name="post_code" value="{% if shipping_address.post_code|length > 0%} {{shipping_address.post_code}} {% endif %}" placeholder="Street Address here here..">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" name="city" value="{% if shipping_address.city|length > 0%} {{shipping_address.city}} {% endif %}" placeholder="City Address here here..">
                </div>
                <div class="form-group">
                  <label for="state">State/Province</label>
                  <input type="text" class="form-control" id="state" name="state" value="{% if shipping_address.state|length > 0%} {{shipping_address.state}} {% endif %}" placeholder="State Address here here..">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                
                  <select id="country" class="form-control" name="country" >
                    <option value="" >Select Country</option>
                    {% for country in countries %}
                      <option value="{{ country.code }}" {% if shipping_address.country == country.code %} selected {% endif %}>{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm" id="update_shipping_info_btn">Update</button>
        </div>
      </div>
    </div>
  </div>