<div class="modal fade"  id="forgotPassword">
    <div class="modal-dialog" >
      <div class="modal-content w-100 px-5 py-4 " >
        <div class="modal-header">
          <h5 class="modal-title">Forgot Your Password?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            
            <form action="{% url 'request_password_reset' %}" method="POST" id="forgotPasswordForm" class="py-5">
              {% csrf_token %} 
              <h6>Enter Email For Password Rest</h6>
              <input type="email" placeholder="Email" name="email" class="form-control">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm" id="forgotPasswordBtn">Send</button>
        </div>
      </div>
    </div>
</div>