<div class="modal fade"  id="privacyPolicy">
    <div class="modal-dialog" >
      <div class="modal-content w-100 px-5 py-4">
        <div class="modal-header">
          <h3 class="modal-title">Privacy Policy</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                Welcome to Essence, your premier e-commerce platform for men, women, and baby care materials. We are committed to ensuring the privacy and security of your information. This Privacy Policy explains how we collect, use, and protect your personal data.
            </p>
            <div>
                <div>
                    <h5>Information We Collect</h5>
                    <p>
                        Essence collects information to provide you with a seamless shopping experience and improve our services. The information we may collect includes:
                    </p>

                    <ul>
                        <li>
                            <strong>Personal Information:</strong> Your name, email address, shipping address, and payment details.
                        </li>
                        <li>
                            <strong>Account Information:</strong>  Data related to your account, such as order history and preferences.
                        </li>
                        <li>
                            <strong>Device and Usage Information:</strong>  Information about the device you use to access our app and how you interact with it
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>Your Choices</h5>

                    <p>You have the right to:</p>
                    <ul>
                        <li>Access, update, or delete your personal information.</li>
                        <li>Opt-out of marketing communications.</li>
                        <li>Manage cookie preferences through your browser settings.</li>
                        <li>Children's Privacy</li>
                    </ul>
        
                    <p>Essence is intended for a general audience and does not knowingly collect information from children under 13. If you believe a child has provided us with personal information, please contact us to have it removed.</p>
                </div>
                <div>
                    <p>We collect this information when you:</p>
                    <ul>
                        <li>
                            Create an account 
                        </li>
                        <li>
                            Browse, search, or make a purchase
                        </li>
                        <li>
                            Contact customer support
                        </li>
                        <li>
                            Participate in surveys or promotions
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>How We Use Your Information </h5>
                    <p>We use your information for various purposes, including:</p>
                    <ul>
                        <li>
                            <strong>Order Fulfillment:</strong> To process and fulfill your orders, communicate about your purchases, and provide customer support.
                        </li>
                        <li>
                            <strong>Personalization:</strong>  To tailor your shopping experience, recommend products, and display personalized content.
                        </li>
                        <li>
                            <strong>Communication:</strong>  To send order confirmations, shipping updates, and promotional information.
                        </li>
                        <li>
                            <strong>Analytics::</strong> To analyze user behavior and enhance our app's functionality.
                        </li>
                    </ul>
                </div>
                <div>
                    <h5>Data Security</h5>

                    <p>
                        We prioritize the security of your information. We use encryption, access controls, and secure protocols to protect your data. While we take every precaution, no method of transmission over the internet is 100% secure.
                    </p>
                </div>
                <div>
                    <h5>Sharing Your Information</h5>

                    <p>Essence does not sell your personal information to third parties. We may share information with trusted service providers involved in order fulfillment, payment processing, or customer support, subject to strict confidentiality agreements.</p>
                </div>         
                <div>
                    <h5>Updates to Privacy Policy</h5>
    
                    <p>We may update this Privacy Policy to reflect changes in our practices. Significant changes will be communicated through email or app notifications.</p>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>