{% extends 'base/base.html' %}
{% block title%}Chekout{% endblock %}
{% load static %}
{% load countries %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}
{% block main %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
                <form action="#">
                    <input type="text" class="form-control" required id="checkout-discount-input">
                    <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                </form>
            </div><!-- End .checkout-discount -->
            <form method="POST" action="{% url 'checkout'%}" id="payment-form">
                {%csrf_token%}
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" name="first_name" required value="{% if user.first_name|length > 0%} {{user.first_name}} {% endif %}">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" name="last_name" required value="{% if user.last_name|length > 0%} {{ user.last_name}} {% endif %}">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Email address *</label>
                            <input type="email" class="form-control" name="email" required value="{% if shipping_address.email|length > 0%} {{shipping_address.email}} {% endif %}">

                            

                            <label>Street address *</label>
                            <input type="text" class="form-control" name="street_address" placeholder="House number and Street name" required value="{% if shipping_address.street_address|length > 0%} {{shipping_address.street_address}} {% endif %}">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control" name="city" required value="{% if shipping_address.city|length > 0%} {{shipping_address.city}} {% endif %}">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State / County *</label>
                                    <input type="text" class="form-control" name="state" required value="{% if shipping_address.state|length > 0%} {{shipping_address.state}} {% endif %}">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control" name="post_code" required value="{% if shipping_address.post_code|length > 0%} {{shipping_address.post_code}} {% endif %}">
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" name="phone" required value="{% if shipping_address.phone|length > 0%} {{shipping_address.phone}} {% endif %}">
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            {{stripe_total}}
                            <label>Country *</label>
                            <select class="form-control" name="country">
                                <option value="" >Select Country</option>
                                {% get_countries as countries %}
                                {% for country in countries %}
                                  <option value="{{country.code}}" {% if shipping_address.country == country.code %} selected {% endif %}>{{ country.name }}</option>
                                {% endfor %}
                              </select>

                            <input type="hidden" class="form-control" name="client_secret" value="{{client_secret}}">
                            <input type="hidden" class="form-control" name="shipping_method" value="{{selected_shipping_method}}">
                            <input type="hidden" class="form-control" name="shipping_price" value="{{shipping_price}}">
                            <input type="hidden" class="form-control" name="sub_total" value="{{cart_item_sub_total_price}}">
                            <input type="hidden" class="form-control" name="grand_total" value="{{items_and_shipping_price}}">

                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-4">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    {%if full_cart_item%}
                                        {% for item in full_cart_item%}
                                            <tr>
                                                <td>
                                                    <a href="{{ item.product.images.all|access_list:0|image_url }}" target="_blank">
                                                        <img src="{{ item.product.images.all|access_list:0|image_url }}"  alt="{{item.product.images.all|access_list:0|image_caption}}" width="35">
                                                    </a>
                                                </td>
                                                <td><a href="{%url 'product_details' product_id=item.product.id %}">{{item.product.name}}</a></td>
                                                <td>{{item.quantity}} X {{item.product.formatted_price}}</td>
                                            </tr>
                                        {% endfor %}
                                    {%endif%}
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td></td>
                                        
                                        {% if formatted_sub_total_price%}
                                            <td>{{formatted_sub_total_price}}</td>
                                        {%endif%}
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td></td>
                                        <td>{{selected_shipping_method}} ({{formatted_shipping_price}})</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td></td>
                                        {% if items_and_shipping_price%}
                                            <td>{{formatted_grand_total}}</td>
                                        {%endif%}
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">

                                <div class="card">
                                    <div class="card-header" id="heading-5">
                                        <h2 class="card-title">
                                            <a class="collapsed show" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                Credit Card (Stripe)
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-5" class="collapse show" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                        <div class="card-body p-0"> 
                                            <div id="card-element" class="my-2"></div>
                                            <div id="card-errors" class="mb-1"></div>
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->
                            </div><!-- End .accordion -->

                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" id="submit-button">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                        </div><!-- End .summary -->
                        <a href="{% url 'cart'%}" class="btn btn-outline-dark-2 btn-block mb-3"><span>Adjust Cart</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form><!--End of Checkout form-->
            <div class="loading-overlay">
                <div class="spinner-grow">
                </div>
                <p >Loading...</p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
{% endblock %}

{% block extrascripts %}
    {{blick.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key"}}
    {{ client_secret|json_script:"id_client_secret"}}
    <script src="{% static 'js/checkout.js' %}"></script>
    
{% endblock %}