{% load static%}

<footer class="footer footer-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/logo.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        </a>
                        <p>Elevate your self-care routine with premium women's, hair, baby, skin, and men's care products available at Essence. </p>


                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="{% url 'about' %}">About Essence</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

               

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="{% url 'cart' %}">View Cart</a></li>
                            <li><a href="{% url 'wishlist'%}">My Wishlist</a></li>
                            <li><a href="{% url 'faq'%}">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                
                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Social Media</h4><!-- End .widget-title -->
                        <div class="social-icons">
                            <a href="https://www.facebook.com/profile.php?id=61555157247407" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="https://twitter.com/?lang=en" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="https://www.instagram.com/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="https://www.youtube.com/" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © <span id="year"></span> Essence. All Rights Reserved.</p><!-- End .footer-copyright -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

{% comment %} script {% endcomment %}
<script>
 const getYear = new Date().getFullYear();
 const year = document.querySelector("#year");

 year.innerText = getYear;
</script>
{% comment %} script {% endcomment %}